# Gradle
.gradle/
build/
local.properties

# IDE
.idea/
*.iml
.vscode/

# Android
*.apk
*.aab
*.ap_
*.dex

# Kotlin
*.class

# OS
.DS_Store
Thumbs.db

# Secrets
*.jks
*.keystore
keystore.properties
github.properties
